@if o-website-value('header-template') == 'side-navbar-8' {

#wrapwrap{
    padding-right: 250px;
    transition: all 0.3s;

   .mid_header{
        display: none;
   }
    header{
        position: absolute;
        height: 100%;
        right: 0px;
        transition: all 0.3s;
    }
}
#sidebar .js_language_selector .btn-outline-secondary{
    padding-right: 0px;
    padding-left: 0px;
}
#sidebar #full_screen_search_d1 .container, #full_screen_search_d1 .ul_search_col{
    padding: 0px;
}
#sidebar li .nav-link b{
    font-weight: normal !important;
}
#sidebar .js_language_selector .dropdown-item{
    color: inherit;
}
#wrapwrap > header > .navbar #top_menu > .nav-item {
    padding-left: 0px;
    padding-right: 0px;
}
#sidebar #top_menu{
    li .nav-link{
        display: inline-block;
    }
}
#wrapwrap.active{
    padding-right: 0px;
}
#top_menu_container {
    width: 100%;
}
#sidebar .js_usermenu li a{
    font-size: 0.875rem !important;
    padding-left: 10px !important;
}
#sidebar {
  #close {
    display: none;
  }

  #dismiss {
    display: none;
  }

  a, a:hover, a:focus {
    text-decoration: none;
    transition: all 0.3s;
  }
  .navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
  }

  .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
  }
}

#content{
    .navbar {
        padding: 15px 10px !important;
        background: transparent;
        position: absolute !important;
        z-index: 999;
        border: none;
        border-radius: 0;
        right:250px;
      }
}
#wrapwrap.active #content .navbar {
    right:0;
}
#sidebar {
  box-shadow: 0 0 7px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .2);
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
  height: 100%;
}

header.active {
  margin-right: -250px;
}

a[data-toggle="collapse"] {
  position: relative;
}

#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  padding-top: unset !important;
}

@media (max-width: 768px) {
  #wrapwrap{
    padding-right: 0px;
  }
  #wrapwrap.active{
    padding-right: 250px;
  }
  #wrapwrap header {
    margin-right: -250px;
  }
  #wrapwrap header.active {
    margin-right: 0px;
  }
  #sidebarCollapse span {
    display: none;
  }
  #wrapwrap.active #content .navbar{
    right: 250px;
  }
 #content .navbar {
    right:0;
  }
}

.sidebar-header > strong,
#sidebarCollapse5 {
  display: none;
}

body,
.navbar > .container, .navbar > .container-fluid {
  flex-flow: row-reverse;
}

body:not(.editor_enable):not(.editor_has_snippets){
    height: auto;
#wrapwrap {
    overflow: unset !important;
}
}
html{
    overflow: unset !important;
}
body {
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

#sidebar{
.js_language_selector .js_change_lang.list-inline-item{
    margin-bottom: 5px;
}
}
}