@if o-website-value('layout') == 'fluid' {
.container {
    max-width:100%;
    width:100%;
}
@media (min-width: 576px){
#wrapwrap {
    padding-right: unset;
    padding-left: unset;
}
#wrapwrap > header .navbar, #wrapwrap > header .container, #wrapwrap > header .o_container_small {
    padding-left: 1rem;
    padding-right: 1rem;
}
}
#wrapwrap > * {
    max-width: 100%;
}
}
