
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1, .h1 {
  font-size: 2.1875rem;
}

@media (max-width: 1200px) {
  h1, .h1 {
    font-size: calc(1.34375rem + 1.125vw) ;
  }
}

h2, .h2 {
  font-size: 1.75rem;
}

@media (max-width: 1200px) {
  h2, .h2 {
    font-size: calc(1.3rem + 0.6vw) ;
  }
}

h3, .h3 {
  font-size: 1.53125rem;
}

@media (max-width: 1200px) {
  h3, .h3 {
    font-size: calc(1.278125rem + 0.3375vw) ;
  }
}

h4, .h4 {
  font-size: 1.3125rem;
}

@media (max-width: 1200px) {
  h4, .h4 {
    font-size: calc(1.25625rem + 0.075vw) ;
  }
}

h5, .h5 {
  font-size: 1.09375rem;
}

h6, .h6 {
  font-size: 0.875rem;
}

.lead {
  font-size: 1.09375rem;
  font-weight: 300;
}

